body{
  font-family: arial;
  font-size: 15px;
  line-height: 1.5em;
  padding: 0px;
  margin: 0px ;
  background-color: #f4f4f4;
}
.container{
  width: 90%;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.container2{
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  background-color: #cccccc;
  padding: 5px;
 }
.about-me{
  text-align: center;
  float: left;
  padding: 5px;
}
.highlight{
 color: red;
  font-weight: bold;
}

.margintop{
  margin-top: 15px;
  float: right;
}
.imagecenter{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.centerwid100{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
.button{
  height: 28px;
  background-color:  #F73E02;
  border:0px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.pad10{
  padding: 10px;
}
li{
  padding: 0px;
}
header{
  background-color: #35424a;
  color: white;
  min-height: 100px;
  border-bottom: #DED51F 3px solid; 
  
}
header #branding{
  float: left;
}
header h1{
  padding: 10px;

  margin-bottom: 10px;
}
header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}
header .current a{
  color: red;
  font-weight: bold;
}
header ul li{
  display: inline-block;
  padding: 5px;
  text-align: center;
}
header nav{
   float: right;
   margin-bottom: 10px;
   margin-left: 10px;
   margin-right: 20px;
}
header a:hover{
  color: #cccccc;

}
#welcome{
  text-align: center;
  background: url(../image/welcome.jpg);
  color: #ffffff;
  min-height: 400px;
}
#welcome,  #aboutwelcome h2{
  margin-top: 40px;
  padding: 10px;
  word-spacing: 5px;
}
#welcome h3{
  padding: 5px;
  word-spacing: 15px;
  word-wrap: normal;
  color: #1FDE52;
}
#intro{
  padding: 5px;
  background-color: #cccccc;
}
#intro h1{
  text-align: center;
  text-transform: uppercase;
}
#intro p{
  padding: 0px 10px;
}
#intro h3{
  text-align: center;
  color:#FF1049; 
}
#aboutwelcome{
  text-align: center;
  background: url(../image/welcome.jpg);
  color: #ffffff;
  min-height: 400px;
}
#image1{
  float: left;
}
#image2{
  float: right;
}

#myproject h2{
  width: 100%;
  text-align: center;

}
#myproject h3{
  color:#FF1049;
  text-align: none;    
}
#myproject p{
  padding: 10px;
}
form{
  padding: 0px;
  margin: 0px;
}
aside#sidebar{
  color:  #291C11;
  float: right;
  width: 30%;
  background-color:  #cccccc;
  padding-top: 10px;
  padding: 5px;

  border:#DF1611 2PX;
}
aside#sidebar .quote input,aside#sidebar .quote textarea{
  width: 90%;
  padding: 10px;
}
form#feedback{
  float: left;
  width: 65%;
  
  
  margin-top: 10px;
}
table#detail{
  width: 80%;
  background-color: #1FDED2;
}


footer{
  width: 100%;
  
  background: black;
  font: 5px ;
  color: #ffffff;
  padding: 5px;
  text-align: center;
  
}

@media(max-width: 680px){
  header #branding,
  header nav{
    float: none;
    text-align: center;
    width: 100%;
    height: auto;
  }
  #welcome,#aboutwelcome{
      min-height:200px;
  }
  #welcome ,#aboutwelcome h2{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #welcome, #aboutwelcome h3{
    margin-top: 5px;
  }
  aside#sidebar{
    float: none;
    width: 100%;

  }
  form#feedback{
    width: 100%;
    float: none;
  }
 
}

