body{
	font-family: arial;
	font-size: 15px;
	line-height: 1.5em;
	padding: 0px;
	margin: 0px ;
	background-color: #f4f4f4;
}
.container{
	width: 80%;
	height: auto;
	margin: auto;
	overflow: hidden;
}
.button{
	height: 28px;
	background-color:  #F73E02;
	border:0px;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}
.dark{
	padding: 15px;
	color:#ffffff;
	background-color:#35424a; 	
}
.page-title{
	text-transform: uppercase;
	color: red;
}
header{
	background-color: #35424a;
	color: white;
	padding-top:30px;
	min-height: 70px;
	border-bottom: #DED51F 3px solid; 
}
header a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}
header ui{
	padding: 0px;
	margin: 0px;
}
header li{
	padding: 0px 15px;
	float: left;
	display: block;
}
header #branding{
	float: left;
}
header #branding h1{
	margin: 0px;
}
header nav{
	float: right;
	margin-bottom: 10px;
	margin-left: 10px;
}
header .highlight,header .current a{
	color: red;
	font-weight: bold;
}
header a:hover{
	color: #cccccc;

}
#showcase{
	min-height: 500px;
	background: url(./image/show.jpg) no-repeat 0px -400px ;
	color: white;
	text-align: center;

}
#showcase h1{
	margin-top: 100px;
	font-size: 40px;
	margin-bottom: 20px;
	height: auto;
	color: #ffffff;
}
#showcase p{
	font-size: 20px;

}
#newsletter{
	padding: 15px;
	color: white;
	background-color: #35424a;
	
}
#newsletter h1{
	float: left;
}
#newsletter form{
	float: right;
	margin-bottom: 40px;
	align-content: center;

}
#newsletter input{
	padding: 4px;
	height: 20px;
	width: 150px;

}
#boxes{
	padding: 10px 0px;
	text-align: center;

}

#boxes img {
	size: 20%;

	margin-bottom: 10px;
}
#boxes .box{
	float: left;
	width: 30%;
	padding: 10px;
}
aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 15px;
}
article#main-column {
	width: 65%;
	float: left;
	padding: 10px;
	background: url(../image/background.jpg) -550px -550px;
	margin-top: 15px;
}
article#main-column h1{
	text-align: center;
}
ul#services li{
	list-style: none;
 
	padding: 10px;
	
	margin-bottom: 5px;
	
	margin-right: 20px;
}
aside#sidebar .quote input,aside#sidebar .quote textarea{
	width: 90%;
	padding: 5px;
}
footer{
	color: black;
	background-color: #023AF7;
	font-size: 20px;
	text-align: center;
	padding: 4px;
	margin-top: 10px;
}
/*home page done*/

aside#sidebar{
	float: right;
	color:  #ffffff;
	width: 30%;
	background-color:  #35424a;
	padding-top: 10px;
}

@media(max-width: 768px){
	header#branding,
	header nav,
	header nav li,
	#boxes .box,
	article#main-column,
	aside#sidebar{
		float: none;
		text-align: center;
		width: 100%;
	}
	#showcase{
		height: auto;
	}
	#showcase h1{
       margin-top: 40px;
	}
	#newsletter button{
		width: 100%;
	}
	#newsletter form input{
		width: 100%;
		margin-bottom: 5px;
	}
	

}
